# backend/.gitignore
# # Цей файл визначає навмисно невідстежувані файли, які Git повинен ігнорувати.
# # Це допомагає уникнути випадкового коміту файлів, які не повинні бути частиною репозиторію,
# # таких як файли конфігурації локального середовища, логи, кеш або файли, специфічні для IDE.

# Стандартні файли Python для ігнорування
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Стандартні файли Docker для ігнорування
docker-compose.override.yml

# Файли, специфічні для IDE
.idea/
*.iml
.vscode/

# Специфічні для проекту тимчасові файли та каталоги
local_storage/
tmp/
*.log
